<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Company Consórcio</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>

        <header class="header">
            <a href="#" class="logo">
                <img src="images/ogo-1.png" alt="logo-companhia">
            </a>
            <nav class="navegacao">
                <a href="#">Início</a>
                <a href="#sobre-nos">Sobre</a>
                <a href="#servicos">Serviços</a>
                <a href="#relatorioVendas">Relatório</a>
                <a href="https://www.youtube.com/watch?v=rPQ8BZ4DcW8&ab_channel=FernandoGabriel" target="_blank">Blog</a>
                <a href="#redes">Sociais</a>
            </nav>
        </header>
        <section class="conteudo" id="conteudo">
            <div class="texto-section">
                <h3>Entenda o que é um consórcio de empresas</h3>
                <p>O consórcio empresarial une várias empresas com a finalidade de realizar um empreendimento ou participar de negociações.</p>
                <a href="#simulacao" class="btn">Faça sua simulação</a>
            </div>
        </section>
        <section class="sobre-nos" id="sobre-nos">
            <h1 class="heading"> <span style="color: black;">Sobre</span> Nós </h1>
            <div class="conteudo-sobre">
                <div class="image">
                    <img src="images/chamando-empresa.png" alt="junte-se-a-nos">
                </div>
                <div class="content">
                    <h3>Melhor escolha para o seu negócio</h3>
                    <p>Nascemos para compartilhar sonhos. Essa foi a semente que nos fez crescer junto com o Brasil e a trabalhar incansavelmente para tornar acessível o crescimento financeiro e os objetivos de vida dos brasileiros. </p>
                    <p>Um trabalho fundamentado na ética, na simplicidade e no investimento contínuo em capacitação e inovação. Oferecemos segurança, encantamento e cuidado em troca de confiança, gratidão e sorrisos.</p>
                    <a href="https://www.youtube.com/watch?v=9wVmCLtuUx0&ab_channel=Tayklor" class="btn" target="_blank">Saiba mais</a>
                </div>
            </div>
        </section>
        <section class="Servicos" id="servicos">
            <h1 class="heading"> Nossos <span style="color: black;">Serviços</span> </h1>
            <div class="box-container">
                <div class="box" id="simulacao">
                    <img src="images/simule.png" alt="homem-moedas">
                    <h3>Simule Conosco</h3>
                    <p style="margin-bottom: 35px;">Confira as melhores condições de mercado. Faça, agora mesmo, sua simulação.</p>
                    <a href="https://www.youtube.com/watch?v=2zZ15rNyBF8&ab_channel=kujawinski" class="btn" target="_blank">Simular</a>
                </div>
                <div class="box">
                    <img src="images/consorcio.png" alt="familia-viagem">
                    <h3>Consórcio</h3>
                    <p style="margin-bottom: 35px;">Seja um veículo, um ímovel ou um serviço, com consórcio você pode.</p>
                    <a href="https://www.youtube.com/watch?v=thJ0sUR_sWg&ab_channel=LUCKY69" class="btn" target="_blank">SAIBA MAIS</a>
                </div>
                <div class="box">
                    <img src="images/finaciamento.png" alt="familia-carro">
                    <h3>Financiamentos</h3>
                    <p>O que você precisa para conquistar seus objetivos? Temos as melhores condições para o seu momento.</p>
                    <a href="https://www.youtube.com/watch?v=Bgqk6t9Be1Q&ab_channel=K3VINITTY" target="_blank" class="btn">SAIBA MAIS</a>
                </div>
                <div class="box">
                    <img src="images/seguros.png" alt="mulher-carro">
                    <h3>Seguros</h3>
                    <p>Fique tranquilo e deixe o resto com a gente, temos um portfólio completo para você e sua empresa.</p>
                    <a href="https://www.youtube.com/watch?v=umpCTyQZp7g&ab_channel=R1CK" class="btn" target="_blank">SAIBA MAIS</a>
                </div>
                <div class="box">
                    <img src="images/emprestimos.png" alt="pessoas-reuniao">
                    <h3>Empréstimos</h3>
                    <p>Precisa de crédito? Usando seu imóvel como garantia, você consegue as melhores condições do mercado.</p>
                    <a href="https://www.youtube.com/watch?v=HyUUQw7rHqw&ab_channel=HBOMaxBrasil" class="btn" target="_blank">SAIBA MAIS</a>
                </div>
                <div class="box" id="relatorioVendas">
                    <img src="images/relatorio-vendas.jpg" alt="pessoas-reuniao">
                    <h3>Relatório de Vendas</h3>
                    <p>Acesse e gerencie os dados da sua empresa a qualquer momento.</p>
                    <a href="/relatorio" class="btn" target="_blank">Acessar</a>
                </div>
            </div>
        </section>
        <section class="rodape">
            <div class="sociais" id="redes">
                <a href="https://www.facebook.com/photo.php?fbid=3166319483500211&set=t.100063495409679&type=3" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://x.com/MagodaBolaa/status/1732603633840046304?s=20" target="_blank" class="fab fa-twitter"></a> 
                <a href="https://www.instagram.com/p/Ctzd95DRc78/" target="_blank" class="fab fa-instagram"></a>
                <a href="https://br.linkedin.com/" target="_blank" class="fab fa-linkedin"></a>
                <a href="https://br.pinterest.com/" target="_blank" class="fab fa-pinterest"></a>
            </div>
            <div class="conexoes">
                <a href="#">Início</a>
                <a href="#sobre-nos">Sobre</a>
                <a href="#servicos">Serviços</a>
                <a href="https://www.youtube.com/watch?v=rPQ8BZ4DcW8&ab_channel=FernandoGabriel" target="_blank">Blog</a>
            </div>
        </section>
    </body>
</html>